/* font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif; */
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #f3f3f3;
}



.header>h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    color: #021400;
    margin-left: 20px;
    font-size: 3em;
    letter-spacing: 5px;
}

.header>p{
    font-size: 1.2em;
    font-family: "Quicksand", sans-serif;
    color: #021400;
}

.anuncio>.logo{
    display: flex;
    flex-direction: row;
}

.anuncio p:nth-child(1){
    font-size: 1em;
}

.nav ul li, a{
    display: inline-block;
    padding: 15px;
    color: #535353;
    text-decoration: none;
}

.nav ul li, a:hover{
    color: #ccc;
}

.anuncio>p{
    font-size: 1em;
    color: #f3f3f3;
}

.contenedor-info{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contenedor-info>.imagen{
    width: 50%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 25px;
    margin-bottom: 25px;
}

.contenedor-info>.info{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 20px 0 10px;
}

.info>p{
    font-size: 1em;
    color: #868686;
    text-align: justify;
    margin-left: 20px;
}

.info>h2{
    font-size: 1.4em;
    font-weight: normal;
    margin: 0 0 10px 18px;
    color: #535353;
}

.info a{
    font-size: 0.9em;
    margin-left: 5px;
    text-decoration: underline;
}

.footer p{
    color: #f3f3f3;
    font-size: 1em;
}

